.footerContainer {
	display: flex;
	align-items: center;
	background-color: #334256;
	height: 2rem;
	width: 100%;
	/* position: absolute; */
	/* bottom: 0; */
	/* margin: 0; */
	position: relative;
	z-index: 10;
	/* margin-top: -2em; */
}

.footerText {
	font-style: italic;
	color: #fafcff;
	margin: 0 auto;
	padding: 0;
}
